<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.nullnews.manager.controller" />
	<!-- <mvc:resources location="/assets/css/" mapping="/assets/css/**" /> -->
	<!-- <mvc:resources location="/assets/js/" mapping="/assets/js/**" /> -->
	<mvc:default-servlet-handler />



	<dubbo:application name="nullnews-manager-web" />
	<dubbo:registry protocol="zookeeper" address="39.108.160.101:2181" />
	<dubbo:reference interface="com.nullnews.manager.service.PassageService"
		id="passageService" timeout="600000" />
	<dubbo:reference interface="com.nullnews.manager.service.UserInfoService"
		id="userInfoService" timeout="600000" />
		<dubbo:reference interface="com.nullnews.manager.service.UserCommentService"
		id="userCommentService" timeout="600000" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="5242880" />
	</bean>


</beans>
